<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <!-- Nagłówek -->
    </header>
    <nav>
        <!-- Menu -->
        <ul>
            <li><a href="{{ url_for('index') }}">Strona Główna</a></li>
            <li><a href="{{ url_for('test') }}">Test Wiedzy</a></li>
            <li><a href="{{ url_for('inna_funkcjonalnosc') }}">Inna Funkcjonalność</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Stopka -->
    </footer>
</body>
</html>
