<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Test już wypełniony</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Komunikat</h1>
    <p>{{ komunikat }}</p>
    <a href="/">Powrót do strony głównej</a>
    <footer>
        &copy; 2024 Zespół Analiz <span class="nocowanie">Nocowanie</span><span class="pl">.pl</span><br>
        demo v0.1
    </footer>
</body>
</html>
