<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wyniki Testu</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Wyniki Testu</h1>
    <div class="wynik">
        <p>Dziękujemy za wypełnienie testu! Oto Twój wynik:</p>
        <p><strong>Poprawne odpowiedzi: {{ poprawne }}</strong></p>
        <p><strong>Wszystkie pytania: {{ wszystkie }}</strong></p>
    </div>
    <a href="/">Powrót do strony głównej</a>
    <footer>
        &copy; 2024 Zespół Analiz <span class="nocowanie">Nocowanie</span><span class="pl">.pl</span><br>
        demo v0.1
    </footer>
</body>

</html>
